body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f4f5f6;
}

main,
header {
  background-color: white;
}

.bg-red {
  background-color: #f72210;
}

.bg-yellow {
  background-color: #ffe400;
}

.text-black {
  color: black;
}

.text-blue {
  color: #3581f4;
}

.nav-header {
  font-weight: 900;
  font-size: 70px;
  font-family: sans-serif;
  padding-top: 0;
  margin: 0;
}

.nav-1 {
  padding-top: 0;
  padding-bottom: 0;
}

nav .navbar {
  width: 100%;
  margin: 0;
}

.nav-2 {
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 5px;
}

.nav-2 li {
  line-height: 15px;
}

.border-left {
  border-left: solid 1px #d9d9d9;
}

.nav-1-btn {
  border-radius: 24px;
  font: 16px "Roboto Condensed", sans-serif;
  color: black;
}

.article-img {
  width: 297px;
}

.weather-icon {
  width: 30px;
}

a {
  color: black;
}

.border-bottom-double {
  border-bottom-style: double;
}

.insight-1 {
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 7px 15px;
}

.text-red {
  color: #f72210;
}

.fab {
  font-size: 26px;
}

.newsletter-img {
  background-image: url("starting5-homepage.png");
  background-repeat: no-repeat;
  background-color: #ccc;
  background-position: 50%;
  background-size: cover;
}

footer {
  font-size: 14px;
}

#mobile-nav {
  z-index: 14;
  display: none;
  width: 100%;
  margin-left: 0;
  line-height: 10px;
}

.img-absolute {
  left: 80px;
  top: 25px;
}

@media screen and (max-width: 991px) {
  .mobile-nav-sticky {
    display: inline-flex;
    position: fixed;
    z-index: 4;
    width: 100%;
    top: 0;
    line-height: 10px;
  }

  .max991-display-none {
    display: none;
  }
}
